@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body{
    background-color: #ffffff;
    font-family: 'Quicksand', sans-serif;
}
.page{
    margin-top: 1rem;
}
.page .container{
    width: 700px;
}
.page-header{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}
.img-card{
    display: block;
    margin: auto;
    width: 45%;
    height:auto; 
}
.img-cardd{
    display: block;
    margin: auto;
    width: 45%;
    height:auto; 
}
.page .card{
    padding: 2rem;
}
.btn-primary{
    text-transform: uppercase;
    font-weight: bold;
}
.btn-success{
    text-transform: uppercase;
    font-weight: bold;
}
.card-bottom{
    display:grid;
  width: 100%;
    grid-template-columns: repeat(4, 1fr);
    /* column-gap: 1rem; */
}

.btn-purple{
    background-color:#8e85c7;
    border-color:#8e85c7;
}
.btn-purple:hover{
    background-color:#5a5291;
    border-color:#8e85c7;
}

.btn-green{
    background-color:#1ABC9C;
    border-color:#1ABC9C;
    color: white;
    
}
.btn-green:hover{
    background-color:#19927a;
    border-color:#1ABC9C;
    color: white;
    
}
.btn-blue{
   
    background-color: #2980B9;
    border-color: #2980B9;
}
.btn-blue:hover{
   
    background-color: #1a5f8d;
    border-color: #2980B9;
}

.list{
    background-color: #FFFFFF;
}

.cola{
    text-align: center;
    font-size:30px;
    font-weight: bold;
    margin-bottom: 35px;
}

.column{ 
    display: grid;
    grid-template-columns: 50% 50%;
}
.login {
    text-align: center;
     margin-bottom: 15px;
      font-size:25px;
      font-weight:bold;

}
.text {
    width: 50%;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-orange{
   
    background-color: #c57122;
    border-color: #c57122;
    color: white;
}

.btn-orange:hover{
   
    background-color: #a35c1a;
    border-color: #a35c1a;
}

.btn-lila{
   
    background-color: #293DB9;
    border-color: #293DB9;
    color: white;
}

.btn-lila:hover{
   
    background-color: #202f92;
    border-color: #202f92;
    color: white;
}